.head {
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo {
  width: 250px;
  height: 100px;
}

.jumbotron {
  text-align: center;
}

img {

}

#row1 {

}

#samp {
  column-span: all;
}

#sampimg {
width: 200px;
height: 100px;
}

#select {
width: 200px;
margin-bottom: 20px;
}
